.project-inventory-management,
.project-inventory-app-react,
.project-erp,
.project-cementery-web,
.project-gitt {
  --color-text-400: rgb(20, 29, 37);
  --color-text-300: rgb(72, 85, 97);

  --color-accent-400: rgb(31, 129, 249);
  --color-accent-text-400: white;

  --color-hover: rgb(20, 29, 37);

  --color-grayscale-500: rgb(226, 233, 238);
  --color-grayscale-400: rgb(226, 233, 238);

  --color-background-400: rgb(243, 247, 250);
  --color-background-300: white;
}

.project-inventory-system,
.project-erp-servidor-local,
.project-pos-csharp,
.project-triangle-pos,
.project-bioacces {
  --color-text-400: #ffffff;
  --color-text-300: rgb(197, 197, 197);

  --color-hover: rgb(41, 41, 41);
  --color-hover-text: #ffffff;

  --color-accent-400: #008dff;
  --color-accent-text-400: white;

  --color-grayscale-500: rgb(25, 25, 25);
  --color-grayscale-400: rgb(33, 33, 33);

  --color-background-400: #141414;
  --color-background-300: #090909;
}

.project-inventory-management {
  --color-accent-400: #5382a1;
}

.project-inventory-system {
  --color-accent-400: #478cbf;
}

.project-inventory-app-react {
  --color-accent-400: #61dafb;
  --color-accent-text-400: #0f2e36;
}

.project-erp-servidor-local {
  --color-accent-400: #009688;
}

.project-erp {
  --color-accent-400: #2563eb;
}

.project-pos-csharp {
  --color-accent-400: #68217a;
}

.project-cementery-web {
  --color-accent-400: #059669;
}

.project-triangle-pos {
  --color-accent-400: #f97316;
}

.project-gitt {
  --color-accent-400: #dc2626;
}

.project-bioacces {
  --color-accent-400: #22c55e;
}
